html {
   width: 100%;
   height: 100%;
   font-size: 100%;
}
body {
   width: 100%;
   height: 100%;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-size: 1em;
   margin: 0;
   background-color: var(--navbg);
}

:root {
   --navbg: #1a1a1a;
   --hgrey: #7d7d7d;
   --hwhite: #c9c9c9;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* navigation styles start*/

header {
   background: var(--navbg);
   text-align: center;
   position: fixed;
   z-index: 1000;
   width: 100%;
   height: 70px;
}

.logo {
   float: left;
   position: relative;
   margin: 0;
   left: 20px;
   top: -15px;
   width: 150.33px;
   height: 100px;
}

.separator {
   float: left;
   position: relative;
   left: 60px;
   top: 26px;
   color: white;
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   font-size: 1em;
   display: none;
}

.tagline {
   float: left;
   position: relative;
   left: 100px;
   top: 26px;
   color: white;
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   font-size: 1em;
   display: none;
}

nav {
   padding-top: 5px;
   position: absolute;
   text-align: left;
   top: 75%;
   left: 0;
   background: var(--navbg);
   width: 100%;
   transform-origin: top;
   opacity: 0;
   transition: opacity 300ms ease-in-out;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.navh {
   padding-top: 2em;
   padding-bottom: 0.5em;
}

nav li {
   padding-bottom: 0.5em;
   padding-left: 1.35em;
}

nav a {
   position: relative;
   bottom: 2px;
   color: white;
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   font-size: 1em;
   opacity: 0;
   transition: opacity 100ms ease-in-out;
}

nav a:hover {
   color: white;
}

.nav-toggle {
   display: none;
}

.nav-toggle:checked ~ nav {
   opacity: 1;
}

.nav-toggle:checked ~ nav a {
   opacity: 1;
   transition: opacity 250ms ease-in-out 200ms;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
   display: block;
   background: white;
   height: 2.5px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after {
   content: "";
   position: absolute;
}

.nav-toggle-label::before {
   transition: transform 0.1s linear;
   bottom: 26px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
   opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label::before {
   -webkit-transform: translateY(-8px);
   transform: translateY(-8px);
   animation: rot 0.25s ease-out;
   animation-delay: 0.15s;
   animation-fill-mode: forwards;
}

.nav-toggle-label::after {
   transition: transform 0.1s linear;
   top: 26px;
}
/*
.nav-toggle ~ .nav-toggle-label::after {
   transform: translateY(8px);
   animation: rotcc 0.3s ease-out;
   animation-delay: 0.05s;
   animation-fill-mode: backwards;
}
*/
.nav-toggle:checked ~ .nav-toggle-label::after {
   -webkit-transform: translateY(8px);
   transform: translateY(8px);
   animation: rotcc 0.25s ease-out;
   animation-delay: 0.15s;
   animation-fill-mode: forwards;
}

@keyframes rot {
   0% {
      top: 35px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }
   100% {
      top: 35px;
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
   }
   /*
    100% {
       top: 35px;
       -webkit-transform: rotate(315deg);
       transform: rotate(315deg);
    }
    */
}
@keyframes rotcc {
   0% {
      top: 35px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }
   100% {
      top: 35px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
   } /*
   100% {
      top: 35px;
      -webkit-transform: rotate(-315deg);
      transform: rotate(-315deg);
   }
   */
}

.nav-toggle-label {
   color: white;
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 1em;
   border: 0px solid red;
   height: 100%;
   display: flex;
   align-items: center;
}

.nav_header {
   margin-top: 0px;
   color: var(--hwhite);
   font-size: 1.3em;
   font-weight: 500;
}

.nav_content {
   color: var(--hgrey);
   font-weight: 400;
}

.nav_content:hover {
   color: white;
}

.nav_header:hover {
   color: white;
}

.main_content {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   font-size: 1em;
   color: white;
   height: 70%;
   width: 100%;
   background-color: var(--navbg);
   padding-top: 100px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: left;
}

.main_tag h6 {
   background-color: var(--navbg);
   color: white;
   position: relative;
   top: -55px;
   font-weight: 300;
   font-size: 1.2em;
}

.main_header {
   position: relative;
   top: -55px;
   letter-spacing: 0.5px;
}

.main_header h1 {
   font-weight: 600;
   font-size: 2.2em;
   line-height: 60px;
}

.main_highlight {
   text-decoration: none;
   color: #017f7f;
}

.main_header h5 {
   font-weight: 400;
   margin-top: 10px;
   margin-right: 5%;
   text-align: center;
}

.main_button {
   position: relative;
   top: -85px;
   margin-left: 0px;
   width: 95%;
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 1.2em;
   border: none;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   background: #017f7f;
   color: white;
   padding: 16px 32px;
   cursor: pointer;
}

hr {
   border: none;
   width: 30px;
   position: relative;
   text-align: left;
   margin-left: 2px;
   margin-right: 80%;
   color: white;
   background-color: white;
   height: 0.5px;
}

#top_main {
   top: -30px;
}

#bottom_main {
   top: 150px;
}

.content {
   object-fit: cover;
   width: 100%;
   height: 100%;
   padding-top: 110px;
}

.setupbox {
   position: relative;
   width: 100%;
   height: 43em;
}

#lush {
   background: white;
}

#cer {
   background: #a7d6fd;
}

.background {
   object-fit: contain;
   width: 100%;
   height: 100%;
}

/*STYLISH BUTTON*/
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
   box-sizing: border-box;
}
*::before,
*::after {
   box-sizing: border-box;
}
/*
body {
   font-family: "Mukta", sans-serif;
   font-size: 1rem;
   line-height: 1.5;
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   margin: 0;
   min-height: 100vh;
   background: #f3f8fa;
}
*/

.bt-cont {
   position: absolute;
   top: 86%;
   left: 37%;
}

#cerul-cont {
   top: 80%;
}

button.install {
   position: relative;
   left: 30%;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
}
button.install {
   width: 12rem;
   height: auto;
}
button.install .circle {
   -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: relative;
   display: block;
   margin: 0;
   width: 3rem;
   height: 3rem;
   background: #1d1d1f;
   border-radius: 1.625rem;
}

/*cerulean button
#cerul button.install .circle {
   -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: relative;
   display: block;
   margin: 0;
   width: 3rem;
   height: 3rem;
   background: #a7d6fd;
   border-radius: 1.625rem;
}*/

#cerul .circle {
   background: #455364;
}

button.install .circle .icon {
   -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background: #fff;
}

/*cerulean
#cerul .circle .icon {
   background: #455364;
}
*/
button.install .circle .icon.arrow {
   -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   left: 0.625rem;
   width: 1.125rem;
   height: 0.125rem;
   background: none;
}
button.install .circle .icon.arrow::before {
   position: absolute;
   content: "";
   top: -0.25rem;
   right: 0.0625rem;
   width: 0.625rem;
   height: 0.625rem;
   border-top: 0.125rem solid #fff;
   border-right: 0.125rem solid #fff;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
}

/*cerulean*/
#cerul .circle .icon.arrow::before {
   border-top: 0.125rem solid #a7d6fd;
   border-right: 0.125rem solid #a7d6fd;
}

button.install .button-text {
   -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.75rem 0;
   margin: 0 0 0 1.85rem;
   color: #1d1d1f;
   font-weight: 700;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
}

/*cerulean*/
#cerul .button-text {
   color: #455364;
}
button:hover .circle {
   width: 100%;
}
button:hover .circle .icon.arrow {
   background: #fff;
   -webkit-transform: translate(1rem, 0);
   transform: translate(1rem, 0);
}
#cerul:hover .circle .icon.arrow {
   background: #a7d6fd;
}
button:hover .button-text {
   color: #fff;
}
#cerul:hover .button-text {
   color: #a7d6fd;
}
/*
@supports (display: grid) {
   body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
   }

   #container {
      grid-area: main;
      align-self: center;
      justify-self: center;
   }
*/

.textbox {
   position: absolute;
   top: 1%;
   left: 5%;
   height: 50%;
}

#cer-textbox {
   left: 65%;
   color: #455364;
   text-align: left;
}

#cer-textbox h2,
#cer-textbox h3 {
   text-align: right;
}

.textbox h2 {
   position: relative;
   margin-bottom: 10px;
   font-size: calc(1rem + 3vw);
   font-weight: 600;
}

.textbox h3 {
   margin-top: 20px;
   margin-left: 4px;
   font-size: calc(0.6rem + 1vw);
   font-weight: 500;
}

.subbox {
   position: relative;
   top: 20px;
   height: 70%;
   width: 210%;
}

#cerbox {
   float: right;
   margin-right: -2%;
   width: 190%;
}

.infobox-bold h4,
.infobox h4 {
   padding-bottom: 35px;
}

.infobox-bold {
   position: absolute;
}

.infobox-bold h4 {
   margin: 0;
   font-size: 1.6em;
   font-size: calc(0.8rem + 0.6vw);
   font-weight: 400;
}

.infobox {
   position: absolute;
   left: 14%;
}

.infobox h4 {
   margin: 0;
   font-size: 1.6em;
   font-size: calc(0.8rem + 0.6vw);
   font-weight: 300;
}

#add-bold {
   position: absolute;
   left: 40%;
}

#add {
   position: absolute;
   left: 58%;
}

#cerbox .infobox {
   left: 8%;
}

#cerbox #add-bold {
   left: 44%;
}

#cerbox #ad h4 {
   position: relative;
}

#cerbox #add {
   width: 300px;
   left: 64.4%;
}
/*
#cerbox #add h4 {
     text-align: right;
}*/

#lush-hr {
   color: #1d1d1f;
   background-color: #1d1d1f;
}

#cer-hr {
   left: 92%;
   color: #455364;
   background-color: #455364;
}

/*for pc*/
@media screen and (min-width: 670px) {
   /*
    .nav-toggle-label {
       display: none;
    */
   .separator {
      font-size: 1.2em;
      display: inline;
   }

   .tagline {
      font-size: 1.2em;
      display: inline;
   }

   .main_header h1 {
      margin-right: 100px;
      font-size: 2.8em;
      line-height: 100px;
   }

   .main_header {
      top: -20px;
   }

   .main_header h5 {
      margin-top: 30px;
   }

   .main_button {
      top: -45px;
   }

   #bottom_main {
      top: 180px;
   }
   .main_content h1 {
      padding-right: 50px;
   }
}

@media screen and (min-width: 870px) {
   .main_header h5 {
      padding-left: 0px;
      text-align: left;
   }

   .main_button {
      width: unset;
      padding: 16px 60px;
   }

   .main_header h1 {
      line-height: 100px;
      font-size: 3em;
      padding-right: 100px;
   }
}

@media screen and (min-width: 1160px) {
   .main_header h1 {
      font-size: 5em;
   }
}

@media screen and (min-width: 1250px) {
   .bt-cont {
      top: 80%;
   }
}

@media screen and (min-width: 1420px) {
   #cerbox #add {
      width: 350px;
   }
}
