body {
   margin: 0;
   background-color: var(--navbg);
}

:root {
   --navbg: #1a1a1a;
   --hgrey: #7d7d7d;
   --hwhite: #c9c9c9;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

/* navigation styles start*/

header {
   background: var(--navbg);
   text-align: center;
   position: fixed;
   z-index: 1000;
   width: 100%;
   height: 70px;
}

.logo {
   float: left;
   position: relative;
   margin: 0;
   left: 20px;
   top: -15px;
   width: 150.33px;
   height: 100px;
}

.separator {
   position: static;
   color: white;
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   font-size: 1em;
   display: none;
}

.tagline {
   position: static;
   color: white;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-size: 0.5em;
   display: none;
}

nav {
   padding-top: 0px;
   position: absolute;
   text-align: left;
   top: 80%;
   right: 0;
   background: var(--navbg);
   width: 100%;

   transform: scale(1, 0);
   transform-origin: top;
   opacity: 0;
   transition: opacity 300ms ease-in-out;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.navh {
   padding-top: 2em;
   padding-bottom: 0.5em;
}

nav li {
   padding-bottom: 0.5em;
   padding-left: 1.35em;
}

nav a {
   position: relative;
   bottom: 2px;
   color: white;
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   font-size: 1em;
   opacity: 0;
   transition: opacity 100ms ease-in-out;
}

nav a:hover {
   color: ;
}

.nav-toggle {
   display: none;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
   opacity: 1;
}

.nav-toggle:checked ~ nav a {
   opacity: 1;
   transition: opacity 250ms ease-in-out 200ms;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
   display: block;
   background: white;
   height: 2.5px;
   width: 2em;
   border-radius: 2px;
   position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after {
   content: "";
   position: absolute;
}

.nav-toggle-label::before {
   transition: transform 0.1s linear;
   bottom: 26px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
   opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label::before {
   -webkit-transform: translateY(-8px);
   transform: translateY(-8px);
   animation: rot 0.25s ease-out;
   animation-delay: 0.15s;
   animation-fill-mode: forwards;
}

.nav-toggle-label::after {
   transition: transform 0.1s linear;
   top: 26px;
}
/*
.nav-toggle ~ .nav-toggle-label::after {
   transform: translateY(8px);
   animation: rotcc 0.3s ease-out;
   animation-delay: 0.05s;
   animation-fill-mode: backwards;
}
*/
.nav-toggle:checked ~ .nav-toggle-label::after {
   -webkit-transform: translateY(8px);
   transform: translateY(8px);
   animation: rotcc 0.25s ease-out;
   animation-delay: 0.15s;
   animation-fill-mode: forwards;
}

@keyframes rot {
   0% {
      top: 35px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }
   100% {
      top: 35px;
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
   }
   /*
   100% {
      top: 35px;
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
   }
   */
}
@keyframes rotcc {
   0% {
      top: 35px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }
   100% {
      top: 35px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
   } /*
   100% {
      top: 35px;
      -webkit-transform: rotate(-315deg);
      transform: rotate(-315deg);
   }
   */
}

.nav-toggle-label {
   color: white;
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 1em;
   border: 0px solid red;
   height: 100%;
   display: flex;
   align-items: center;
}

.nav_header {
   margin-top: 0px;
   padding-bottom: 1000px;
   color: var(--hwhite);
   font-size: 1.3em;
   font-weight: 500;
}

.nav_content {
   color: var(--hgrey);
   font-weight: 400;
}

.nav_content:hov er {
   color: white;
}

.nav_header:hover {
   color: white;
}

.main_content {
   font-family: "Raleway", sans-serif;
   font-weight: 600;
   font-size: 1em;
   color: white;
   height: 70%;
   width: 100%;
   background-color: var(--navbg);
   padding-top: 100px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: left;
}

.main_tag h6 {
   background-color: var(--navbg);
   color: white;
   position: relative;
   top: -55px;
   font-weight: 300;
   font-size: 1.2em;
}

.main_header {
   position: relative;
   top: -55px;
   letter-spacing: 0.5px;
}

.main_header h1 {
   font-weight: 600;
   font-size: 2.2em;
   line-height: 60px;
}

.main_highlight {
   text-decoration: none;
   color: #017f7f;
}

.main_header h5 {
   margin-top: 10px;
   text-align: center;
}

.main_button {
   position: relative;
   top: -85px;
   margin-left: 2.5%;
   width: 95%;
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 1.2em;
   border: none;
   display: inline-block;
   text-align: center;
   text-decoration: none;
   background: #017f7f;
   color: white;
   padding: 15px 32px;
   cursor: pointer;
}

hr {
   width: 80%;
   display: inline-block;
   position: relative;
   text-align: left;
   margin-left: 1%;
   margin-right: 80%;
   width: 50px;
}

#top_main {
   top: -30px;
}

#bottom_main {
   top: 150px;
}

/*for pc*/
@media screen and (min-width: 800px) {
   /*   
.nav-toggle-label {
      display: none;
   }*/

   .logo {
      grid-column: 2 / 4;
   }

   nav {
      float: right;
      grid-column: 3 / 4;
   }

   nav a {
      opacity: 1;
   }
}
