body {
	background-color: #1a1a1a;
	position: relative;
}

div.navbar {
	padding: 3%;
	margin: 0;
	border: 0;
	width: 80%;
	height: 15%;
	overflow: hidden;
}

div.navlogo,
div.navde {
	float: left;
	position: relative;
}

img.logo,
span.separator,
span.tagline {
	position: relative;
}

div.navlogo {
	width: 50%;
}
img.logo {
	width: 35%;
	height: 20%;
}

span.separator,
span.tagline {
	top: -30px;
}
span.separator {
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 20px;
}

span.tagline {
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 25px;
}
div.navmenu {
}

a.navde {
	float: left;
	padding-top: 2%;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	color: gray;
}

a.navde:hover {
	color: white;
}
